@using MyLib.Models
@{ 
    string Nickname = null;
    if (Session["Nickname"] != null) { Nickname = Session["Nickname"].ToString(); }
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link rel="stylesheet" href="~/Content/Site.css" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("MyLib", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            @if (Nickname != null)
            {
                <div class="navbar-left">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Книжная база", "AllBooks", "Book")</li>
                        <li>@Html.ActionLink("Внести книгу", "Add", "Book")</li>
                        <li>@Html.ActionLink("Книжный шкаф", "Bookshelf", "Book")</li>
                        <li>@Html.ActionLink("Прочитанные", "Finished", "Book")</li>
                        <li>@Html.ActionLink("Дано почитать", "Lent", "Book")</li>
                        <li>@Html.ActionLink("Желаемые", "Desired", "Book")</li>
                    </ul>
                </div>

                <div class="navbar-right" align="right">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink(Nickname, "EditProfile", "Account")</li>
                        <li>@Html.ActionLink("Выход", "Exit", "Account")</li>
                    </ul>
                </div>
            }
            else
            {
                <div class="navbar-left">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Все книги", "AllBooks", "Book")</li>
                        <li>@Html.ActionLink("О программе", "About", "Home")</li>
                    </ul>
                </div>

                <div class="navbar-right" align="right">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Авторизация", "Authorization", "Account")</li>
                        <li>@Html.ActionLink("Регистрация", "Registration", "Account")</li>
                    </ul>
                </div>
            }
        </div>
            </div>
    <div class="container ">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year – приложение MyLib</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
