@using MyLib.Models;
@{
    ViewBag.Title = "AllBooks";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int id = int.Parse(Session["Id"].ToString());
}

<h2>Книжная база</h2>

<table class="table">
    <tr>
        <th>
            Название
        </th>
        <th>
            Автор
        </th>
        <th>
            Краткое описание
        </th>
        <th></th>
    </tr>
    @if (ViewBag.Books == null)
    { <h2 style="color:dodgerblue">В базе пока нет ни одной книги</h2> }
@foreach (Book book in ViewBag.Books) {
    <tr>
        <td>
            @book.Name
        </td>
        <td>
            @book.Author
        </td>
        <td>
            @book.Description
        </td>
        <!---->
        <td>
            @if (book.UserBooks.Where(u => u.UserId == id).FirstOrDefault() != null)
            {
                UserBook ub = book.UserBooks.Where(u => u.UserId == id).FirstOrDefault();
                if (ub.OnShelf)
                {<p>Имеется</p>}
                if (ub.Readed)
                {<p>Прочитано</p>}
                if (ub.Desired)
                {<p>Желаемая</p>}
                @Html.ActionLink("Подробнее", "BookInfo", new { id = book.BookId })
            }
            else
            {
                @Html.ActionLink("В желаемое", "AddToWishes", new { id = book.BookId })
                @Html.ActionLink("Подробнее", "BookInfo", new { id = book.BookId })
            }
        </td>
        <!---->
    </tr>
}

</table>
