@model IEnumerable<MyLib.Models.Context.BookDisplay>

@{
    ViewBag.Title = "Bookshelf";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Книжная полка</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.InHave)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Readed)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.InHave)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Readed)
        </td>
        <td><!--
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                -->
        </td>
    </tr>
}

</table>
