@using MyLib.Models;

@{
    ViewBag.Title = "Bookshelf";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Книжная полка</h2>

<table class="table">
    <tr>
        <th>Название</th>
        <th>Автор</th>
        <th>Описание</th>
        <th></th>
    </tr>
    @if (ViewBag.Books == null)
    {
        <h2 style="color:dodgerblue">Книжная полка пока пустая</h2>}
    @foreach (UserBook item in ViewBag.Books)
    {
        <tr>
            <td>@item.Book.Name</td>
            <td>@item.Book.Author</td>
            <td>@item.Book.Description</td>
            <td>
                <!--
                @Html.ActionLink("Изменить заметки", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Уже прочитал", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Книга была возвращена", "Delete", new { /* id=item.PrimaryKey */ })
                    -->
            </td>
        </tr>
    }

</table>
