@using MyLib.Models;

@{
    ViewBag.Title = "Desired";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Desired</h2>

@if (ViewBag.Books == null)
{
    <h2 style="color:dodgerblue">Список желаемых книг пуст</h2>}
else
{
    <table class="table">
        <tr>
            <th>Название</th>
            <th>Автор</th>
            <th>Описание</th>
            <th></th>
        </tr>
        @foreach (UserBook item in ViewBag.Books)
        {
            <tr>
                <td>@item.Book.Name</td>
                <td>@item.Book.Author</td>
                <td>@item.Book.Description</td>
                <td>
                    @Html.ActionLink("Изменить заметки", "Edit", new { id = item.BookId }) |
                    @Html.ActionLink("Уже прочитал", "Details", new { id = item.BookId }) |
                    @Html.ActionLink("Книга была возвращена", "Delete", new { id = item.BookId })
                </td>
            </tr>
        }
    </table>
}